.movieList {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem 4rem;
  margin: 2rem 14rem;
  border-radius: 15px;
  border: double 1px rgb(170, 255, 0);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3.2rem 0 2rem;
  color: yellow;
}

.header__title {
  letter-spacing: 0.4rem;
  border-bottom: 1px solid yellowgreen;
}

.header__subtitle {
  letter-spacing: 0.4rem;
  font-family: "Permanent Marker", cursive;
  font-size: 1.6rem;
}

.or {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.search__field {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.search__icon {
  color: yellow;
  background-color: transparent;
  font-size: 3rem;
  cursor: pointer;
}

.asterisk {
  color: yellow;
  background-color: transparent;
  font-size: 3rem;
}

.upload {
  display: flex;
  justify-content: center;
}

.upload > h4 {
  color: white;
}

.note {
  margin-top: 1rem;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

@media screen and (max-width: 1200px) {
  .movieList {
    margin: 2rem 4rem;
  }
}

@media screen and (max-width: 450px) {
  .header {
    gap: 1rem;
    padding: 2rem 0 1rem;
  }
  .movieList {
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    border-left: 1px rgb(170, 255, 0);
    border-right: 1px rgb(170, 255, 0);
  }
  .header__subtitle {
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 4rem;
  }

  .note {
    margin-top: 1rem;
    padding: 0rem;
  }

  .search__icon {
    font-size: 2rem;
  }

  .asterisk {
    font-size: 2rem;
    padding-left: 0.6rem;
  }
}

@media screen and (max-width: 370px) {
  .header__subtitle {
    margin-bottom: 3rem;
  }

  .asterisk {
    font-size: 1.8rem;
  }
}
