.film__excerpt {
  margin-top: 4rem;
  width: 200px;
}

.film__title {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.film__poster {
  width: 200px;
}

.view__more {
  font-size: 1.2rem;
}

@media screen and (max-width: 1200px) {
  .film__excerpt {
    margin-top: 2rem;
    width: 300px;
  }

  .film__poster {
    width: 300px;
  }
}

@media screen and (max-width: 400px) {
}
