.card {
  margin-top: 6rem;
  padding: 0 6rem;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 4rem;
  letter-spacing: 2px;
}

.input {
  margin-left: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 450px) {
  .card {
    margin-top: 4rem;
    padding: 0rem;
  }
}

@media screen and (max-width: 370px) {
  .heading {
    font-size: 3rem;
  }
}
