.movieList {
  background-color: steelblue;
  padding: 2rem;
  margin: 2rem 8rem;
}

.movie__title {
  background-color: darkblue;
  padding: 1rem;
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3.2rem 0 2rem;
  background-color: rgba(0, 0, 0, 0.601);
  color: yellow;
}

.header__title {
  letter-spacing: 0.4rem;
  border-bottom: 1px solid yellowgreen;
}

.header__subtitle {
  letter-spacing: 0.4rem;
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
}

.movie__title {
  background-color: blue;
  margin: 1rem;
}

.upload {
  display: flex;
  justify-content: center;
}

.upload > h4 {
  color: white;
}


